<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Профиль</title>
</head>
<body>

<div layout:fragment="content">

    <script>
        function show(obj){
            var name = "#underspoiler" + obj.id;
            if ($(name).css('display') == 'none')
                $(name).css('display','block');
            else
                $(name).css('display','none');
        }
    </script>

    <div th:include="fragments/header :: cabinet" style="margin-bottom: 15px;"></div>

    <div class="row" style="margin-top: -15px;">
        <div class="col-md-6">
            <p class="medium-title">Индекс ГЧП <span th:text="${region.name}">Нижегородская область</span>: <span th:text="${#numbers.formatDecimal(rating,1,1,'COMMA')}">12</span></p>
        </div>

        <div class="col-md-2">
            <a th:href="@{'/chart/' + ${region.code}}" id="showDiagram" class="je_button2"><span>Диаграммы</span></a>
        </div>

        <div class="col-md-2">
            <a th:href="@{'/objects/new'}" id="newObject" class="je_button2"><span>Добавить</span></a>
        </div>

        <div class="col-md-2">
            <a href="/my/logout" class="je_button2"><span>Выход</span></a>
        </div>
    </div>

    <div class="row" style="margin-top: 20px; margin-bottom: 40px;">

        <div th:if="${objects == null} or ${objects.empty}">
            <p> Нет объектов для данного региона. </p>
        </div>

        <div class="objects" th:each="object, id : ${objects}">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="objects-header text">
                                <span th:text="${object.shortName}"></span>
                                <a th:href="@{'/objects/edit/' + ${object.id}}" class="je_button3" style="width: 150px;"><span>Изменить</span></a>
                                <div class="triangle-down pointer" th:id="${id.count}" onclick="show(this)"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" th:id="@{'underspoiler' + ${id.count}}" style="display: none">
                        <div class="object-info">
                            <div class="col-md-4">
                                <div class="object-img">
                                    <!--<img width="100%" th:src="${'/objects/images/' + object.id + '.jpg'}"/>-->
                                    <img width="100%" height="200px" th:src="@{${object.generalImage}}"/>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <span class="header"> Название проекта: </span> <span th:text="${object.projectName}"></span> <br />
                                <span class="header"> Инициатор проекта: </span> <span th:text="${object.infoPublicPartner}"></span> <br />
                                <span class="header"> Отрасль: </span> <span th:text="${object.sectorRelease}"></span> <br />
                                <span class="header"> Уровень проекта: </span> <span th:text="${object.levelRelease}"></span> <br />
                                <span class="header"> Форма проекта: </span> <span th:text="${object.formRelease}"></span> <br />
                                <span class="header"> Этап реализации: </span> <span th:text="${object.stateRelease}"></span> <br />
                                <span class="header"> Срок реализации: </span> <span th:text="${object.termExecution}"></span> лет <br />
                                <span class="header"> Стоимость проекта (в тыс. руб.): </span> <span th:text="${object.totalFunding}"></span><br />
                                <span class="header"> Субъект РФ: </span> <span th:text="${object.subjectRF}"></span> <br />
                                <span class="header"> Главный партнер: </span> <span th:text="${object.infoPublicPartner}"></span> <br />
                                <span class="header"> Частный партнер: </span> <span th:text="${object.infoPrivatePartner}"></span> <br />
                                <span class="header"> Дата начала: </span> <span th:text="${object.dateSigning}?${#dates.format(object.dateSigning, 'dd-MMM-yyyy')}:'-'"></span> <br />
                                <span class="header"> Дата окончания: </span> <span th:text="${object.dateFinishing}?${#dates.format(object.dateFinishing, 'dd-MMM-yyyy')}:'-'"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--<div class="container service-page">-->
        <!--<div class="row" id="login-form">-->
            <!--<div class="col-md-4 col-md-offset-4">-->
                <!--<form th:action="@{/my/logout}" method="get">-->
                    <!--<div class="form-group">-->
                        <!--<label for="username">Имя пользователя:</label>-->
                        <!--<label id="username">-->
                            <!--<span th:text="${name}"></span>-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="password">Пароль:</label>-->
                        <!--<label id="password">-->
                            <!--<span th:text="${name}"></span>-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<button type="submit" class="btn btn-default">Выйти</button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>

</body>
</html>