<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
    <title>Округа</title>
</head>
<body>

<div layout:fragment="content">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>edit</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${districts.empty}">
            <td colspan="2">No districts</td>
        </tr>
        <tr th:each="district : ${districts}">
            <td th:text="${district.id}">1</td>
            <td><a th:href="@{'/districts/' + ${district.id}}" th:text="${district.name}">Title ...</a></td>
            <td><a th:href="@{'/districts/edit/' + ${district.id}}">edit</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>