<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
    <title th:text="${district.name}">Редактировать округ</title>
</head>
<body>

<div layout:fragment="content">
    <form class="form-horizontal" th:action="@{'/districts/edit/' + ${district.id}}" method="post">
        <fieldset>

            <!-- Form Name -->
            <legend>Редактировать регион <span th:text="${district.name}"></span></legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="id">Text Input</label>
                <div class="col-md-4">
                    <input id="id" name="id" type="text" th:value="${district.id}" placeholder="placeholder" class="form-control input-md" disabled="disabled"/>
                    <span class="help-block">help</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Text Input</label>
                <div class="col-md-4">
                    <input id="name" name="name" type="text" th:value="${district.name}" placeholder="placeholder" class="form-control input-md"/>
                    <span class="help-block">help</span>
                </div>
            </div>

            <div>
                <input type="submit" name="save" value="Сохранить"/>
                <input type="submit" name="delete" value="Удалить"/>
            </div>

        </fieldset>
    </form>
</div>

</body>
</html>