<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
    <title>Федеральный округ</title>
</head>
<body>

<div layout:fragment="content">

    <div>
        <label for="id">Id</label>
        <p th:text="${district.id}" id="id"></p>
    </div>

    <div>
        <label for="name">Название федерального округа</label>
        <p th:text="${district.name}" id="name"></p>
    </div>

    <div>
        <label for="name1">(Пример) Название ФО</label>
        <p th:text="${district.name}" id="name1"></p>
    </div>

</div>

</body>
</html>