<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
    <title>График</title><script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="/css/charts.css" rel="stylesheet" media="screen" />
    <script type="text/javascript" src="/js/charts.js"></script>

</head>
<body>

<div style="margin-bottom: 20px;" layout:fragment="content">

    <div th:include="fragments/header :: chart" style="margin-bottom: 20px;"></div>

    <div class="row">
        <div>
            <p th:text="${region.name}" style="font-size:20px; text-align: center"></p>
        </div>



        <div class="chart-column" style="margin-left: 7%;">

            <div class="chart">
                <p>Распределение объектов ГЧП в социальной сфере по отраслям реализации:</p>
                <div id="chart1"></div>
            </div>

            <table id="chart_legend"></table>

            <div class="chart">
                <p>Распределение объектов ГЧП в социальной сфере по объёмам инвестиции и отраслям реализации:</p>
                <div id="chart2"></div>
            </div>

        </div>

        <div class="chart-column">
            <div class="chart">
                <p>Соотношение реализованных и не реализованных объектов:</p>
                <div id="piechart1"></div>
                <table id="chart_legend_p1" class="pie-chart-legend"></table>
            </div>
            <div class="chart">
                <p>Распределение по уровням:</p>
                <div id="piechart2"></div>
                <table id="chart_legend_p2" class="pie-chart-legend"></table>
            </div>
            <div class="chart">
                <p>Доля региона по объёму инвестиций:</p>
                <div id="piechart3"></div>
                <table id="chart_legend_p3" class="pie-chart-legend"></table>
            </div>
        </div>

    </div>

    <script id="template-legend-marker" type="text/html">

        <td class="legend-marker" data-columnIndex="{index}">

            <div class="{marker}" style="background-color: {color}"></div>
            <span> - {label}</span>

        </td>

    </script>
    <script th:inline="javascript">
        // how to insert data in Javascript????
        var chartsOptions = {
            data: [
                ['Объект', 'Количество'],
                ['туризм', [[${travel}]]],
                ['здравохранение', [[${zdrav}]]],
                ['культура', [[${culture}]]],
                ['спорт', [[${sport}]]],
                ['социальное обслуживание', [[${society}]]],
                ['образование', [[${education}]]],
                ['благоустройство территорий', [[${blag}]]]
            ],
            colors: ['#003', '#006', '#229', '#44d', '#08a', '#08c', '#0be'],
            width:	300,
            height:	200,
            data_p1:[
                ['Объект', 'Количество'],
                ['реализованные объекты', [[${ready}]]],
                ['не реализованные объекты', [[${notready}]]]
            ],
            data_p2:[
                ['Объект', 'Количество'],
                ['муниципальный', [[${mun}]]],
                ['региональный', [[${regional}]]]
            ],
            data_p3:[
                ['Объект', 'Количество'],
                ["[[${region.name}]]", [[${regionfunding}]]],
                ['другие регионы', [[${overallfunding}]]]
            ],
            pwidth: 150
        };
    </script>
</div>

</body>
</html>