.chart-column
{
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

.chart
{
	padding: 10px;
	width: 45%;
	min-width: 510px;
	white-space: nowrap;
	background-color: #efefef;
	border: 2px solid gray;
    margin-bottom: 20px;
}

.chart p,
.chart td
{
	white-space: normal;
}

#chart_legend
{
    padding: 10px;
    background-color: #efefef;
    border: 2px solid gray;
    border-collapse: inherit;
    margin-bottom: 20px;
    min-width: 510px;
}

.legend-marker
{
	padding: 4px 14px;
	cursor: pointer;
}

.legend-marker:hover
{
	background: rgba(0, 255, 255, 0.3)!important;
}

.legend-marker-color-circle
{
	border-radius: 6px;
}

.legend-marker-color-circle,
.legend-marker-color-rect
{
	display: inline-block;
	height: 12px;
	width: 12px;
}

#piechart1,
#piechart2,
#piechart3,
.pie-chart-legend
{
	vertical-align: middle;
	display: inline-block;
}