.navigation .nav > li {
    background-color: #6c6c6c;
}
.nav > li > a.cust {
    color: white;
    background-color: #6c6c6c;
}
.nav > li > a.cust:hover {
    background-color: #00b3e6;
}

.nav > li > a.cust > img {
    width:20px;
    float: left;
}
.navigation {
    margin-bottom: 10px;
}
.header {
    margin: -20px 0 10px 0;
}
button.entry {
    margin: 10px 10px 0 0px;
    padding: 5px 5px 5px 5px;
    color: white;
    font-size: 14px;
    background: #00b3e6;
    border: 1px solid black;
    border-radius: 0px;
    font-family: 'EuropeExt Normal', verdana;
}

div.site-title > a {
    width: 100%;
}

p.site-title {
    font-size: 24px;
    color: black;
    font-family: 'EuropeExt Normal', verdana;
    text-align: center;
}

img.site-logo {
    /*FIXME height: 200px;
    margin: -40px 0 0 0;*/
}

input.search {
    font-family: 'EuropeExt Normal', verdana;
    padding: 5px;
    background: url(/images/search_icon.png) no-repeat scroll;
    background-position: 99% 50%;
}


div.breakline > div.line {
    height: 3px;
    background-color: #00b3e6;
}
div.breakline > div.text {
    font-size: 20px;
    font-family: 'EuropeExt Normal', verdana;
    margin: -15px 0 0 0;
}
a.footer-object > img {
    border: 1px solid #000;
}
a.footer-object:hover > img {
    border: 1px solid #00b3e6;
}
.cfooter {
    margin: 20px 0 20px 0;
}
a.cust span {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a.je_button {
    background-color: #00B3E6;
    color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    font-family: 'EuropeExt Normal', Verdana;
    margin: 10px 0;
    font-size: 16px;
    border: 2px solid gray;
    box-sizing: border-box;
    width: 100%;
}
.about-region{
    font-size: 9pt;
    border-right: 2px solid #00b3e6;
    font-weight: bold;
    padding-right: 15px;
}
a.je_button2{
    background-color: #00B3E6;
    color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    font-family: 'EuropeExt Normal', Verdana;
    margin: 10px 0;
    font-size: 16px;
    border: 2px solid gray;
    box-sizing: border-box;
    width: 100%;
}
a.je_button3 {
    background-color: #00B3E6;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    font-family: 'EuropeExt Normal', Verdana;
    margin: 0 0 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid gray;
    width: 100%;
    position: absolute;
    right: 50px;
}
.diagramm-logo{
    pargin-bottom: 20%;
}
.diagramm-button{
    margin-top: 3%;
}
.diagramm{
    margin-top: 1%;
}
.object-logo{
    margin-top: 20%;
    margin-left: 10%;
}

.objects-header{
    padding-left: 11%;
    border-bottom: 2px solid #00b3e6;
    font-size: 20px;
    font-family: 'EuropeExt Normal', verdana;
    padding-bottom: 5px;
    padding-top: 5px;

}
.triangle-down {
    width: 0;
    height: 0;
    margin-top: 5px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #00b3e6;
    float: right;
}
.triangle-left{
    margin-top: 140%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 20px solid #00b3e6;
    border-bottom: 15px solid transparent;
    float: right;
}
.triangle-right{
    margin-top: 140%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid #00b3e6;
    border-bottom: 15px solid transparent;

}
.pointer{
    cursor: pointer;
}
.col-md-8 > span.header {
    color: #00b3e6;
}
.col-md-8{
    border-left: 2px solid #00b3e6;
}
.object-info{
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    overflow: hidden;
    font-size: 11pt;

}
.object-img{
    margin-top: 40px;
}
p.medium-title {
    font-size: 20px;
    font-family: 'EuropeExt Normal', Verdana;
    padding-top: 15px;
}

.newcontainer .height-1{
    height: 100%;
    display: block;
}
.newcontainer .height-2{
    height: 100%;
    display: block;
}
.newcontainer .width-1{
    width: 8.33%;
    float: left;
}
.newcontainer .width-2{
    width: 16.66%;
    float: left;
}
.newcontainer .width-3{
    width: 24.99%;
    float: left;
}
.newcontainer .width-4{
    width: 33.32%;
    float: left;
}
.newcontainer .width-6{
    width: 50%;
    float: left;
}
.newcontainer .upper-div{
    width: 100%;
    height: 66%;
}
.newcontainer .down-div{
    width: 100%;
    height: 34%;
}
.newcontainer{
    height: 600px;
    width: 100%;
}

.newcontainer .img{
    background-size: cover;
    margin: 5px;
    width: 100%;
    height: 100%;
}
.newcontainer .border{
    padding-top: 10px;
    padding-left: 10px;
}
.newcontainer .last{
    padding-right: 10px;
}

*{
    box-sizing: border-box;
}
.newcontainer .border > *{
    width: 100%;
    height: 100%;
    opacity: 1;
    background-size: cover;
}

.newcontainer .box{
    background-color: gray;
    opacity: 0.8;
    color: white;
    padding: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}