<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Рейтинг</title>
</head>
<body>

<div layout:fragment="content">

    <div th:include="fragments/rating :: header"></div>

    <div class="row">
        <!--<div th:include="fragments/rating :: left-banner"></div>-->

        <div class="col-md-3"></div>

        <main id="content" role="main" class="col-md-6" style="width: 60%">

            <div th:fragment="header">
                <div class="row breakline">
                    <div class="col-md-2 line"></div>
                    <div class="col-md-3 text"><p style="text-align:center">Кластер 1</p></div>
                    <div class="col-md-7 line"></div>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <td style="width: 36px;">Место в рейтинге</td>
                    <td>Регион</td>
                    <td>Индекс</td>
                    <td style="width: 96px;">Количество проектов</td>
                    <td>Диаграммы</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,iter : ${cluster1}">
                    <td th:text="${iter.count}"></td>
                    <td style=" text-align: left;"><a th:href="@{'/regions/' + ${item.code}}" th:text="${item.name}"></a></td>
                    <td th:text="${#numbers.formatDecimal(item.index,1,1,'COMMA')}"></td>
                    <td th:text="${item.projectsCount}"></td>
                    <td>
                        <a th:href="@{'/chart/' + ${item.code}}"><img src="/images/ic_pie_chart.png" height="20"/></a>
                    </td>
                </tr>
                </tbody>
            </table>


            <div th:fragment="header">
                <div class="row breakline">
                    <div class="col-md-2 line"></div>
                    <div class="col-md-3 text"><p style="text-align:center">Кластер 2</p></div>
                    <div class="col-md-7 line"></div>
                </div>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr th:each="item,iter : ${cluster2}">
                    <td th:text="${iter.count}"></td>
                    <td style=" text-align: left;"><a th:href="@{'/regions/' + ${item.code}}" th:text="${item.name}"></a></td>
                    <td th:text="${#numbers.formatDecimal(item.index,1,1,'COMMA')}"></td>
                    <td th:text="${item.projectsCount}"></td>
                    <td>
                        <a th:href="@{'/chart/' + ${item.code}}"><img src="/images/ic_pie_chart.png" height="20"/></a>
                    </td>
                </tr>
                </tbody>
            </table>


            <div th:fragment="header">
                <div class="row breakline">
                    <div class="col-md-2 line"></div>
                    <div class="col-md-3 text"><p style="text-align:center">Кластер 3</p></div>
                    <div class="col-md-7 line"></div>
                </div>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr th:each="item,iter : ${cluster3}">
                    <td th:text="${iter.count}"></td>
                    <td style=" text-align: left;"><a th:href="@{'/regions/' + ${item.code}}" th:text="${item.name}"></a></td>
                    <td th:text="${#numbers.formatDecimal(item.index,1,1,'COMMA')}"></td>
                    <td th:text="${item.projectsCount}"></td>
                    <td>
                        <a th:href="@{'/chart/' + ${item.code}}"><img src="/images/ic_pie_chart.png" height="20"/></a>
                    </td>
                </tr>
                </tbody>
            </table>


            <div th:fragment="header">
                <div class="row breakline">
                    <div class="col-md-2 line"></div>
                    <div class="col-md-3 text"><p style="text-align:center">Кластер 4</p></div>
                    <div class="col-md-7 line"></div>
                </div>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr th:each="item,iter : ${cluster4}">
                    <td th:text="${iter.count}"></td>
                    <td style=" text-align: left;"><a th:href="@{'/regions/' + ${item.code}}" th:text="${item.name}"></a></td>
                    <td th:text="${#numbers.formatDecimal(item.index,1,1,'COMMA')}"></td>
                    <td th:text="${item.projectsCount}"></td>
                    <td>
                        <a th:href="@{'/chart/' + ${item.code}}"><img src="/images/ic_pie_chart.png" height="20"/></a>
                    </td>
                </tr>
                </tbody>
            </table>


            <div th:fragment="header">
                <div class="row breakline">
                    <div class="col-md-2 line"></div>
                    <div class="col-md-3 text"><p style="text-align:center">Кластер 5</p></div>
                    <div class="col-md-7 line"></div>
                </div>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr th:each="item,iter : ${cluster5}">
                    <td th:text="${iter.count}"></td>
                    <td style=" text-align: left;"><a th:href="@{'/regions/' + ${item.code}}" th:text="${item.name}"></a></td>
                    <td th:text="${#numbers.formatDecimal(item.index,1,1,'COMMA')}"></td>
                    <td th:text="${item.projectsCount}"></td>
                    <td>
                        <a th:href="@{'/chart/' + ${item.code}}"><img src="/images/ic_pie_chart.png" height="20"/></a>
                    </td>
                </tr>
                </tbody>
            </table>


            <div th:fragment="header">
                <div class="row breakline">
                    <div class="col-md-2 line"></div>
                    <div class="col-md-3 text"><p style="text-align:center">Кластер 6</p></div>
                    <div class="col-md-7 line"></div>
                </div>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr th:each="item,iter : ${cluster6}">
                    <td th:text="${iter.count}"></td>
                    <td style=" text-align: left;"><a th:href="@{'/regions/' + ${item.code}}" th:text="${item.name}"></a></td>
                    <td th:text="${#numbers.formatDecimal(item.index,1,1,'COMMA')}"></td>
                    <td th:text="${item.projectsCount}"></td>
                    <td>
                        <a th:href="@{'/chart/' + ${item.code}}"><img src="/images/ic_pie_chart.png" height="20"/></a>
                    </td>
                </tr>
                </tbody>
            </table>


            <div th:fragment="header">
                <div class="row breakline">
                    <div class="col-md-2 line"></div>
                    <div class="col-md-3 text"><p style="text-align:center">Кластер 7</p></div>
                    <div class="col-md-7 line"></div>
                </div>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr th:each="item,iter : ${cluster7}">
                    <td th:text="${iter.count}"></td>
                    <td style=" text-align: left;"><a th:href="@{'/regions/' + ${item.code}}" th:text="${item.name}"></a></td>
                    <td th:text="${#numbers.formatDecimal(item.index,1,1,'COMMA')}"></td>
                    <td th:text="${item.projectsCount}"></td>
                    <td>
                        <a th:href="@{'/chart/' + ${item.code}}"><img src="/images/ic_pie_chart.png" height="20"/></a>
                    </td>
                </tr>
                </tbody>
            </table>


            <div th:fragment="header">
                <div class="row breakline">
                    <div class="col-md-2 line"></div>
                    <div class="col-md-3 text"><p style="text-align:center">Кластер 8</p></div>
                    <div class="col-md-7 line"></div>
                </div>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr th:each="item,iter : ${cluster8}">
                    <td th:text="${iter.count}"></td>
                    <td style=" text-align: left;"><a th:href="@{'/regions/' + ${item.code}}" th:text="${item.name}"></a></td>
                    <td th:text="${#numbers.formatDecimal(item.index,1,1,'COMMA')}"></td>
                    <td th:text="${item.projectsCount}"></td>
                    <td>
                        <a th:href="@{'/chart/' + ${item.code}}"><img src="/images/ic_pie_chart.png" height="20"/></a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div th:fragment="header">
                <div class="row breakline">
                    <div class="col-md-2 line"></div>
                    <div class="col-md-3 text"><p style="text-align:center">Кластер 9</p></div>
                    <div class="col-md-7 line"></div>
                </div>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr th:each="item,iter : ${cluster9}">
                    <td th:text="${iter.count}"></td>
                    <td style=" text-align: left;"><a th:href="@{'/regions/' + ${item.code}}" th:text="${item.name}"></a></td>
                    <td th:text="${#numbers.formatDecimal(item.index,1,1,'COMMA')}"></td>
                    <td th:text="${item.projectsCount}"></td>
                    <td>
                        <a th:href="@{'/chart/' + ${item.code}}"><img src="/images/ic_pie_chart.png" height="20"/></a>
                    </td>
                </tr>
                </tbody>
            </table>

        </main>

        <div class="col-md-3"></div>

        <!--<div th:include="fragments/rating :: right-banner"></div>-->
    </div>

</div>

</body>
</html>