<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Регион</title>
</head>
<body>

<div layout:fragment="content">

    <script>
        function show(obj){
            var name = "#underspoiler" + obj.id;
            if ($(name).css('display') == 'none')
                $(name).css('display','block');
            else
                $(name).css('display','none');
        }
    </script>

    <div>
        <div th:include="fragments/region :: header" style="margin-bottom: 20px;"></div>

        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-2">
                        <div class="object-logo">
                            <img  th:src="${region.linkGerb}" style="float:left;margin:10px 20px 10px 0" class="img-responsive"/>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="about-region">
                            <p th:text="${region.description}" style="font-size: 16px"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 diagramm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="diagramm-logo">
                            <img th:src="${region.linkFlag}" class="img-responsive"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 diagramm-button">
                        <a th:href="@{'/chart/' + ${region.code}}" id="diagrammButton" class="je_button2"><span>Диаграммы</span></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="page-header">
        <div class="row breakline">
            <div class="col-md-1 line"></div>
            <div class="col-md-2 text"><p style="text-align:center">Объекты</p></div>
            <div class="col-md-9 line"></div>
        </div>

        <div th:if="${objects == null} or ${objects.empty}">
            <p> Нет объектов для данного региона. </p>
        </div>


        <div class="objects" th:each="object, id : ${objects}">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="objects-header text">
                                <span th:text="${object.shortName}"></span>
                                <div class="triangle-down pointer" th:id="${id.count}" onclick="show(this)"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" th:id="@{'underspoiler' + ${id.count}}" style="display: none">
                        <div class="object-info">
                            <div class="col-md-4">
                                <div class="object-img">
                                    <img width="100%" height="200px" th:src="@{${object.generalImage}}"/>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <span class="header"> Название проекта: </span> <span th:text="${object.projectName}"></span> <br />
                                <span class="header"> Инициатор проекта: </span> <span th:text="${object.infoPublicPartner}"></span> <br />
                                <span class="header"> Отрасль: </span> <span th:text="${object.sectorRelease}"></span> <br />
                                <span class="header"> Уровень проекта: </span> <span th:text="${object.levelRelease}"></span> <br />
                                <span class="header"> Форма проекта: </span> <span th:text="${object.formRelease}"></span> <br />
                                <span class="header"> Этап реализации: </span> <span th:text="${object.stateRelease}"></span> <br />
                                <span class="header"> Срок реализации: </span> <span th:text="${object.termExecution}"></span> лет <br />
                                <span class="header"> Стоимость проекта (в тыс. руб.): </span> <span th:text="${object.totalFunding}"></span><br />
                                <span class="header"> Субъект РФ: </span> <span th:text="${object.subjectRF}"></span> <br />
                                <span class="header"> Главный партнер: </span> <span th:text="${object.infoPublicPartner}"></span> <br />
                                <span class="header"> Частный партнер: </span> <span th:text="${object.infoPrivatePartner}"></span> <br />
                                <span class="header"> Дата начала: </span> <span th:text="${object.dateSigning}?${#dates.format(object.dateSigning, 'dd-MMM-yyyy')}:'-'"></span> <br />
                                <span class="header"> Дата окончания: </span> <span th:text="${object.dateFinishing}?${#dates.format(object.dateFinishing, 'dd-MMM-yyyy')}:'-'"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>