<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
    <title>Объекты</title>
</head>
<body>

<div th:include="fragments/header :: objects"></div>

<div layout:fragment="content">

    <script>
        function show(obj){
            var name = "#underspoiler" + obj.id;
            if ($(name).css('display') == 'none')
                $(name).css('display','block');
            else
                $(name).css('display','none');
        }
    </script>

    <div th:include="fragments/header :: objects"></div>

    <!--<span th:if="${objects.empty}">-->
        <!--Нет объектов-->
    <!--</span>-->

    <div class="objects" th:each="object, id : ${objects}">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="objects-header text">
                            <span th:text="${object.shortName}"></span>
                            <div class="triangle-down pointer" th:id="${id.count}" onclick="show(this)"></div>
                        </div>
                    </div>
                </div>
                <div class="row" th:id="@{'underspoiler' + ${id.count}}" style="display: block">
                    <div class="object-info">
                        <div class="col-md-4">
                            <div class="object-img">
                                <img width="100%" height="200px" th:src="@{${object.generalImage}}"/>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <span class="header"> Название проекта: </span> <span th:text="${object.projectName}"></span> <br />
                            <span class="header"> Инициатор проекта: </span> <span th:text="${object.infoPublicPartner}"></span> <br />
                            <span class="header"> Отрасль: </span> <span th:text="${object.sectorRelease}"></span> <br />
                            <span class="header"> Уровень проекта: </span> <span th:text="${object.levelRelease}"></span> <br />
                            <span class="header"> Форма проекта: </span> <span th:text="${object.formRelease}"></span> <br />
                            <span class="header"> Этап реализации: </span> <span th:text="${object.stateRelease}"></span> <br />
                            <span class="header"> Срок реализации: </span> <span th:text="${object.termExecution}"></span> лет <br />
                            <span class="header"> Стоимость проекта (в тыс. руб.): </span> <span th:text="${object.totalFunding}"></span><br />
                            <span class="header"> Субъект РФ: </span> <span th:text="${object.subjectRF}"></span> <br />
                            <span class="header"> Главный партнер: </span> <span th:text="${object.infoPublicPartner}"></span> <br />
                            <span class="header"> Частный партнер: </span> <span th:text="${object.infoPrivatePartner}"></span> <br />
                            <span class="header"> Дата начала: </span> <span th:text="${object.dateSigning}?${#dates.format(object.dateSigning, 'dd-MMM-yyyy')}:'-'"></span> <br />
                            <span class="header"> Дата окончания: </span> <span th:text="${object.dateFinishing}?${#dates.format(object.dateFinishing, 'dd-MMM-yyyy')}:'-'"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height: 100px;">

        <div th:if="${objects.getTotalPages() != 1}" class="form-group col-md-12 pagination-centered" style="width: 100%; padding-top: 25px;">
            <ul class="pagination" style="display: table; margin: 0 auto;">
                <li th:class="${objects.getNumber() == 0} ? disabled"><a class="pageLink" th:href="@{/objects(id=${id}, pageSize=${selectedPageSize}, page=1)}">&laquo;</a></li>
                <li th:class="${objects.getNumber() == 0} ? disabled"><a class="pageLink" th:href="@{/objects(id=${id}, pageSize=${selectedPageSize}, page=${objects.getNumber()})}">&larr;</a></li>
                <li th:class="${objects.getNumber() == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.getStartPage(), pager.getEndPage())}">
                    <a class="pageLink" th:href="@{/objects(id=${id}, pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
                </li>
                <li th:class="${objects.getNumber() + 1 == objects.getTotalPages()} ? disabled"><a class="pageLink" th:href="@{/objects(id=${id}, pageSize=${selectedPageSize}, page=${objects.getNumber() + 2})}">&rarr;</a></li>
                <li th:class="${objects.getNumber() + 1 == objects.getTotalPages()} ? disabled"><a class="pageLink" th:href="@{/objects(id=${id}, pageSize=${selectedPageSize},page=${objects.getTotalPages()})}">&raquo;</a></li>
            </ul>
        </div>

        <!--<div class="form-group col-md-1">-->
            <!--<select class="form-control pagination" id="pageSizeSelect">-->
                <!--<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}"></option>-->
            <!--</select>-->
        <!--</div>-->


    </div>

    <script src="/js/pager.js"></script>
</div>

</body>
</html>