<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
    <title th:text="${objectEntity.projectName}">Редактировать объект</title>
</head>
<body>

<div layout:fragment="content">

    <div th:include="fragments/header :: edit-project" style="margin-bottom: 20px;"></div>


    <div class="row" style="margin-bottom: 20px">
        <div th:each="image : ${images}" class="col-md-4">
            <img th:src="${image}" height="200px"/>
        </div>
    </div>


    <form class="form-horizontal" th:action="@{'/objects/edit/' + ${objectEntity.id}}" enctype="multipart/form-data" method="post">
        <fieldset>
            <input type="hidden" th:field="${objectEntity.idRegion}"/>

            <div class="form-group">
                <label class="col-md-4 control-label">Первая фотография проекта</label>
                <div class="col-md-4">
                    <input type="file" class="form-control input-md" name="file1" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Вторая фотография проекта</label>
                <div class="col-md-4">
                    <input type="file" class="form-control input-md" name="file2" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Третья фотография проекта</label>
                <div class="col-md-4">
                    <input type="file" class="form-control input-md" name="file3" />
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Краткое название проекта</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-md" th:field="${objectEntity.shortName}"/>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Название проекта</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-md" th:field="${objectEntity.projectName}"/>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Инициатор проекта:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-md" th:field="${objectEntity.infoPublicPartner}"/>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Отрасль:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-md" th:field="${objectEntity.sectorRelease}"/>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Уровень проекта:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-md" th:field="${objectEntity.levelRelease}"/>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Форма проекта:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-md" th:field="${objectEntity.formRelease}"/>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Этап реализации:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-md" th:field="${objectEntity.stateRelease}"/>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Срок реализации:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-md" th:field="${objectEntity.termExecution}"/>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Стоимость проекта (в тыс. руб.):</label>
                <div class="col-md-4">
                    <input type="number" class="form-control input-md" th:field="${objectEntity.totalFunding}"/>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Частный партнер:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-md" th:field="${objectEntity.infoPrivatePartner}"/>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Дата начала:</label>
                <div class="col-md-4">
                    <input type="date" class="form-control input-md" th:field="${objectEntity.dateSigning}"/>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Дата окончания:</label>
                <div class="col-md-4">
                    <input type="date" class="form-control input-md" th:field="${objectEntity.dateFinishing}"/>
                </div>
            </div>


            <div class="center-block" style="margin-top: 20px;">
                <input type="submit" name="save" value="Сохранить"/>
            </div>

        </fieldset>
    </form>

    <div style="margin-bottom: 40px;"></div>
</div>

</body>
</html>