<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
    <title>Объект</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row breakline">
        <div class="col-md-2 line"></div>
        <div class="col-md-2 text"> <p style="text-align:center">Объект</p></div>
        <div class="col-md-8 line"></div>
    </div>

    <div class="row" style="display: block; margin-bottom: 30px">
        <div class="object-info">
            <div class="col-md-4">
                <div class="object-img">
                    <!--${'/objects/images/' + object.id + '.jpg'}-->
                    <img width="100%" height="200px" th:src="@{${image}}"/>
                </div>
            </div>
            <div class="col-md-8">
                <span class="header"> Название проекта: </span> <span th:text="${object.projectName}"></span> <br />
                <span class="header"> Инициатор проекта: </span> <span th:text="${object.infoPublicPartner}"></span> <br />
                <span class="header"> Отрасль: </span> <span th:text="${object.sectorRelease}"></span> <br />
                <span class="header"> Уровень проекта: </span> <span th:text="${object.levelRelease}"></span> <br />
                <span class="header"> Форма проекта: </span> <span th:text="${object.formRelease}"></span> <br />
                <span class="header"> Этап реализации: </span> <span th:text="${object.stateRelease}"></span> <br />
                <span class="header"> Срок реализации: </span> <span th:text="${object.termExecution}"></span> лет <br />
                <span class="header"> Стоимость проекта (в тыс. руб.): </span> <span th:text="${object.totalFunding}"></span><br />
                <span class="header"> Субъект РФ: </span> <span th:text="${object.subjectRF}"></span> <br />
                <span class="header"> Главный партнер: </span> <span th:text="${object.infoPublicPartner}"></span> <br />
                <span class="header"> Частный партнер: </span> <span th:text="${object.infoPrivatePartner}"></span> <br />
                <span class="header"> Дата начала: </span> <span th:text="${object.dateSigning}?${#dates.format(object.dateSigning, 'dd-MMM-yyyy')}:'-'"></span> <br />
                <span class="header"> Дата окончания: </span> <span th:text="${object.dateFinishing}?${#dates.format(object.dateFinishing, 'dd-MMM-yyyy')}:'-'"></span>
            </div>
        </div>
    </div>

</div>

</body>
</html>